<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="POM">

<listeners>
		<listener class-name="com.qa.extentReportListner.ExtentReporterNG" />
	</listeners>

	<test name="POM Test cases">
		<packages>
			<package name="com.axisbank.qa.testcases"></package>
		</packages>
	</test>
</suite>